<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1>Welcome to your Universe</h1>
  </div>
</div>

<div class="container py-5">
  <div class="text-center text-black">
    <h3>All your favorite movies</h3>
  </div>

  <div class="row">
    <% @lists.each do |l| %>
      <div >
        <h2><%= link_to l.name, list_path(l)%></h2>
          <% end %>
      </div>

  </div>


  <%= link_to "Create a new list", new_list_path, class: "btn btn-primary" %>
</div>
